apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv{{ item }}
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  nfs:
    path: {{ kube_nfs_storage_directory }}/pv{{ item }}
    server: {{ kube_nfs_ip }}
